#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}



.buttons{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(10, 23, 57);
}

.buttons{
    background-color: rgb(13, 18, 77);
}